testing/stage_1/valid/*.s
testing/stage_2/valid/*.s
testing/stage_3/valid/*.s
testing/stage_4/valid/*.s
testing/stage_5/valid/*.s
testing/stage_6/valid/*.s
testing/stage_7/valid/*.s
testing/stage_8/valid/*.s
.github
.vscode